{{> admin_nav}}
{{> admin_left_menu}}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  {{> admin_page_header}}

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          국산차 리스트
          <a href="#" class="btn btn-success pull-right">국산차등록</a>
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
            <tr>
              <th data-field="id" data-align="center">ID</th>
              <th data-field="company" data-align="center">Company</th>
              <th data-field="name" data-align="center">Model</th>
              <th data-field="price" data-align="right">Price</th>
              <th data-field="dealer" data-align="center">Dealer</th>
              <th data-field="status" data-align="center">Status</th>
              <th data-field="status" data-align="center">Action</th>
            </tr>
            </thead>
            <tbody>
              {{#each data}}
              <tr>
                <td>{{id}}</td>
                <td>{{company}}</td>
                <td><a href="#">{{name}}</a></td>
                <td>{{price}}</td>
                <td>{{dealer_name}}</td>
                <td>{{status}}</td>
                <td><a href="#" class="btn btn-default">in-active</a></td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div><!--/.row-->
</div>	<!--/.main-->