{{> admin_nav}}
{{> admin_left_menu}}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  {{> admin_page_header}}

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          홍보차 리스트
          <a href="#" class="btn btn-success pull-right" data-toggle="modal" data-target="#carCreateModal">홍보차 등록</a>
        </div>
        <div class="panel-body">
          <table class="table table-car-pr">
            <thead>
            <tr>
              <th data-field="image" data-align="center">Image</th>
              <th data-field="company" data-align="center">Company</th>
              <th data-field="name" data-align="center">Model</th>
              <th data-field="price" data-align="right">Price</th>
              <th data-field="status" data-align="center">Status</th>
              <th data-field="action" data-align="center">Action</th>
            </tr>
            </thead>
            <tbody>
            {{#each data}}
              <tr>
                <td><img src="/upload/representatives/{{thumbnail}}" alt="{{name}}" width="200" height="100" /></td>
                <td>{{company}}</td>
                <td>{{name}}</td>
                <td>{{min_price}} ~ {{max_price}}</td>
                <td>
                  {{#if (isEquals status 0)}} <span class="text-danger">미홍보중</span>{{else}}<span class="text-success">홍보중</span>{{/if}}
                </td>
                <td>
                  {{#if (isEquals status 0)}}
                    <a href="/admin/pr/activate/{{id}}/{{status}}/{{company_id}}" class="btn btn-success">active</a>
                  {{else}}
                    <a href="/admin/pr/activate/{{id}}/{{status}}/{{company_id}}" class="btn btn-warning">in-active</a>
                  {{/if}}
                  <a href="#" class="btn btn-danger btn_modify_item"
                     data-toggle="modal" data-target="#carModifyModal"
                     data-item-name="{{name}}" data-type-id="{{type_id}}" data-company-id="{{company_id}}" data-item-id="{{id}}">Modify</a>
                </td>
              </tr>
            {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div><!--/.row-->
</div>	<!--/.main-->


{{>modals/create_prcar}}
{{>modals/modify_prcar}}

<script>
  (function () {
    var btn_modify_item = $('.btn_modify_item');
    var item_name = $('.item_name');
    var item_company = $('.item_company');
    var item_type = $('.item_type');
    var item_id = $('.item_id');

    btn_modify_item.bind('click', function () {
      var _self = $(this);
      var type_id = _self.attr('data-type-id');
      var company_id = _self.attr('data-company-id');
      var name = _self.attr('data-item-name');
      var id = _self.attr('data-item-id');

      setTimeout(function () {
        item_name.val(name);
        item_company.val(company_id);
        item_type.val(type_id);
        item_id.val(id);
      }, 100);
    });

  }());
</script>