<article class="m_container">
{{#each data}}
  <a href="#">
    <img src="/upload/representatives/{{thumbnail}}" alt="{{name}}" /><br />
    [{{company}}] {{name}}<br />
    {{min_price}} ~ {{max_price}}원<br />
  </a>

  <br />
{{/each}}
</article>